html, body {
  height: 100%;
  width: 100%;
}

.container-header {
  position: relative;
  height: 25%;
  width: 100%;
}

.header-text {
  text-align: center;
  background-color: red;
  height: 25%;
  width: 100%;
}

.header-picture {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 75%;
  width: 100%;
}

.self-pic {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
}

.about-container {
  background-color: #eaede8;
  text-align: center;
  padding: 1%;
}
