html body {
  background-color: #DDDDDD;
  height: 100%;
  width: 100%;
}

.break {
  background-color: #FFFFFF;
  height: 10px;
}

.container-header {
  max-height: 25%;
  width: 100%;
}

.header-text {
  text-align: center;
  height: 25%;
  width: 100%;
  overflow: hidden;
  line-height: normal;
  font-weight: bold;
}

.header-picture {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 75%;
  width: 100%;
}

.self-pic {
  height: auto;
  max-width: 20%;
  max-height: 20%;
  border-radius: 50px;
}

.about-container {
  text-align: center;
  padding: 1%;
}

.projects-section {
  text-align: center;
  margin: 0% 5% 0% 5%;
}

.projects-container {
  text-align: center;
  background-color: #FFFFFF;
  display: grid;
  align-content: space-around;
  grid-template-columns:50% 50%;
}

.project-name {
  background-color: #6AA0AA;
  font-weight: bold;
  font-size: 1.5rem;
}

.project-content {
  position: relative;
  background-color: #49B790;
  height: 250px;
  padding: 5% 2% 2% 2%;
}

.project-pic {
  max-width: 75%;
  max-height: 75%;
  border-radius: 20px;
}

.project-description {
  background-color: #FFFFFF;
  padding: 1% 2%;
}

.project-description p {
  background-color: #FFFFFF;
}

.project .overlay {
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  font-size: 30px;
  font-weight: bold;
  border: 0;
}

.project .overlay:hover {
  opacity: 1;
}

.contacts-container {
  text-align: center;
  font-size: 1.3em;
}

.contact-links ul li{
  display: inline;
  list-style-type: none;
  margin-left: 60px;
}
