html, body {
  height: 100%;
  width: 100%;
}

.container-header {
  position: relative;
  height: 15%;
  width: 100%;
}

.header-text {
  position: relative;
  text-align: center;
  grid-row: 2;
  grid-column: 1;
  background-color: red;
  height: 50%;
  width: 100%;
}

.header-picture {
  text-align: center;
  position: relative;
  grid-row: 1;
  grid-column: 1;
  height: 50%;
  width: 100%;
  background-color: green;
}
.self-pic {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
